
mixin info(info)
 -
 //.info-top
 .info
  .info_left-num= info.righthead
    span.bold= info.price
    span.info_number= info.tophead
  .info_bottom
   .rating(class= info.starName)
   a.info-number.to-room-rating(href= info.linkToRoom) #{info.bottomhead}
   span.info_bottom-text= info.bottomtext

mixin icon-info(info)
 .icon-info
  .icon-info-left
   span.material-icons.mod= info.righthead
  .icon-info_right
   .info_number= info.tophead
   .info_bottom-text= info.bottomtext

mixin comment-info(info)
 .icon-info
  .icon-info-left
   img.commet-info-img(src=(`/assets/img/${info.image}`), width="48px" height="48px" alt="apartment photo")
  .icon-info_right
   .info_number= info.tophead
   .info_bottom-text= info.bottomtext


