mixin info(info)
 -
 .info
  div.info-top
   div.info_left-num= info.righthead
    span.bold= info.price
    span.info_number= info.tophead
  div.info_bottom
   div.rating(class= info.starName)
   a.info-number.to-room-rating(href= info.linkToRoom) #{info.bottomhead}
   //span.info_bottom-text= info.bottomtext

mixin icon-info(info)
 .icon-info
  div.icon-info-left
   span.material-icons= info.righthead
  div.icon-info_right
   div.info_number= info.tophead
   div.info_bottom-text= info.bottomtext

mixin comment-info(info)
 .icon-info
  div.icon-info-left
   img.commet-info-img(src=(`assets/img/${info.image}`), width="48px" height="48px" alt="apartment photo")
  div.icon-info_right
   div.info_number= info.tophead
   div.info_bottom-text= info.bottomtext


